name: Word Craft Action

on:
  push:
    branches: [ main, develop ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'

    - name: Restore dependencies
      run: dotnet restore WordCraft.sln

    - name: Build
      run: dotnet build WordCraft.sln --no-restore --configuration Release

    - name: Pack NuGet package
      run: dotnet pack WordCraft/WordCraft.csproj --configuration Release --output ./artifacts

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: nuget-package
        path: ./artifacts/*.nupkg